@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;700&display=swap');
@import "./colors";
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// global rules 
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */

body {
    // min-height: 100vh;
    height: 100%;
    background-color: $BG-color;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
}

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

button {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}
// vars

@import './colors.scss';
:root {
    --Small-FS:14px;
    --Medium-FS:16px;
    --Large-FS:18px;
    --X-large-FS:24px;
    --Heading2-FS:36px;
    --Heading-FS:48px;

    --Light-FW:400;
    --Normal-FW:500;
    --Semi-bold-FW:600;
    --Bold-FW:700;
}
@media only screen and (max-width: 992px) and (min-width:480px){
    :root {
        --Small-FS:12px;
        --Medium-FS:14px;
        --Large-FS:16px;
        --X-large-FS:22px;
        --Heading2-FS:32px;
        --Heading-FS:44px;
    }
}
@media only screen and (max-width: 480px){
    :root {
        --Small-FS:10px;
        --Medium-FS:12px;
        --Large-FS:14px;
        --X-large-FS:20px;
        --Heading2-FS:28px;
        --Heading-FS:38px;
    }
}
@keyframes BtnLoading {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

// utility classes
.P-BTN {
    position: relative;
    font-size: var(--Medium-FS);
    font-weight: var(--Normal-FW);
    background-color: $secondary-color;
    color: #fff;
    padding-inline: auto;
    border-radius: 8px;
    border: 1px solid $secondary-color;
    &.active,
    &:hover {
        outline: 2px solid rgba($color: $secondary-color, $alpha: 0.4);
    }
    &.clicked {
        &::before {
            content: '';
            border-radius: 8px;
            background-color: $secondary-color;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            border-radius: 50%;
            border: #fff solid 2px;
            border-left: transparent solid 2px;
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            left: 50%;
            animation: BtnLoading 1s linear infinite;
        }
        opacity: 0.8;
        cursor:progress;
    }
    &.disabled {
        opacity: 0.6;
        cursor:not-allowed;
    }
}
.S-BTN {
    font-size: var(--Medium-FS);
    font-weight: var(--Normal-FW);
    background-color: #fff;
    color: $normal-gray;
    padding-inline: auto;
    border-radius: 8px;
    border: 1px solid $borders-gray;
    &.active,
    &:hover {
        outline: 2px solid rgba($color: $borders-gray, $alpha: 0.4);
    }
    &.clicked {
        opacity: 0.6;
        cursor:progress;
    }
    &.disabled {
        opacity: 0.6;
        cursor:not-allowed;
    }
}
.checkbox {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        background-color: #fff;
        z-index: 2;
        clip-path: polygon(47% 73%, 83% 33%, 89% 38%, 46% 86%, 26% 64%, 32% 58%);
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1.5px solid $borders-gray;
        border-radius: 2px;
    }
    &.checked {
        &::before {
            background-color: $primary-color;
        }
        &::after {
            border: 1.5px solid $primary-color;
        }
    }
}
// font size
.small-fs {
    font-size: var(--Small-FS);
}
.medium-fs {
    font-size: var(--Medium-FS);
}
.large-fs {
    font-size: var(--Large-FS);
}
.x-large-fs {
    font-size: var(--X-large-FS);
}
.heading2-fs {
    font-size: var(--Heading2-FS);
}
.heading-fs {
    font-size: var(--Heading-FS);
}
// font weight
.light {
    font-weight: var(--Light-FW);
}
.normal {
    font-weight: var(--Normal-FW);
}
.semi-bold {
    font-weight: var(--Semi-bold-FW);
}
.bold {
    font-weight: var(--Bold-FW);
}
// font colors
.light-gray {
    color: $light-gray;
}
.normal-gray {
    color: $normal-gray;
}
.dark-gray {
    color: $dark-gray;
}
.black {
    color: $black-color;
}

.d-none{
    display: none;
}

.alert {
    position: fixed;
    overflow: hidden;
    left: 50%;
    top: 0;
    transform: translate(-50%,-110%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.7s;
    z-index: 999;
    &.error {
        background-color: #D63031;
    }
    &.warrning {
        background-color: #f39c12;
    }
    &.success {
        background-color: #00B894;
    }
    &.showen {
        transform: translate(-50%,50%);
    }
    p,
    span {
        font-size: var(--Small-FS);
        font-weight: var(--Normal-FW);
        color: #fff;
        margin-inline: 10px;
        display: flex;
    }
    span {
        font-size: var(--Heading2-FS);
        font-weight: var(--Bold-FW);
        color: #fff;
        margin-inline: 10px;
        display: flex;
    }
}
@keyframes loading {
    0%{
        transform: scale(0.25);
    }
    100% {
        transform: scale(1);
    }
}
.loading-holder {
    position: fixed;
    height: 100vh;
    width: 100%;
}
.loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loadingStart 1s ease-in alternate forwards;
    article {
        position: relative;
        width: 120px;
        height: 120px;
        transform: translateX(50%);
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(calc(18deg * var(--i)));
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $primary-color;
                animation: loading 1s infinite linear alternate;
                animation-delay: calc(0.1s * var(--i));
            }
        }
    }
}
.not-found {
    position: relative;
    min-height: 100vh;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h2 {
        text-align: center;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px 14px;
        span {
            display: flex;
        }
    }
}

.container {
    position: relative;
    display: grid;
    // width: fit-content;
    min-height: 100vh;
}
@media only screen and (min-width: 1400px){
    .container {
        // grid-template-columns: repeat(12,77.8px);
        // margin-left: calc((100% - 320px - 1100px) / 2 + 320px);
        // width: 1080px;
        grid-template-columns: repeat(12,1fr);
        gap: 15px;
        margin-left: 310px;
        width: calc(100% - 320px);
    }
    .alert {
        min-width: 350px;
        width: fit-content;
        max-width: 800px;
        border-radius: 10px;
        height: 70px;
    }
    .loading {
        article {
            height: 200px;
            gap: 20px;
            div {
                width: 40px;
            }
        }
    }
}
@media only screen and (max-width: 1400px) and (min-width:1200px){
    .container {
        // grid-template-columns: repeat(12,61.25px);
        // margin-left: calc((100% - 320px - 900px) / 2 + 320px);
        // width: 880px;
        grid-template-columns: repeat(12,1fr);
        gap: 15px;
        margin-left: 310px;
        width: calc(100% - 320px);
    }
    .alert {
        min-width: 350px;
        width: fit-content;
        max-width: 800px;
        border-radius: 10px;
        height: 70px;
    }
    .loading {
        article {
            height: 200px;
            gap: 20px;
            div {
                width: 40px;
            }
        }
    }
}
@media only screen and (max-width: 1200px) and (min-width:992px) {
    .container {
        // grid-template-columns: repeat(12,48.5px);
        // width: 670px;
        // margin-left: calc((100% - 300px - 670px) / 2 + 300px);
        grid-template-columns: repeat(12,1fr);
        gap: 10px;
        margin-left: 310px;
        width: calc(100% - 320px);
    }

    .alert {
        min-width: 300px;
        width: fit-content;
        max-width: 650px;
        border-radius: 10px;
        height: 70px;
    }
    .loading {
        article {
            height: 200px;
            gap: 20px;
            div {
                width: 40px;
            }
        }
    }
}
@media only screen and (max-width: 992px) and (min-width:768px){
    .container {
        // grid-template-columns: repeat(12,33.1px);
        // margin-left: calc((100% - 260px - 508px) / 2 + 260px);
        // width: 500px;
        grid-template-columns: repeat(12,1fr);
        gap: 10px;
        margin-left: 260px;
        width: calc(100% - 270px);
    }
    .alert {
        min-width: 300px;
        width: fit-content;
        max-width: 650px;
        border-radius: 10px;
        height: 70px;
    }
    .loading {
        article {
            height: 200px;
            gap: 20px;
            div {
                width: 30px;
            }
        }
    }
}
@media only screen and (max-width: 768px) and (min-width:480px){
    .container {
        // grid-template-columns: repeat(6,67.5px);
        // width: 460px;
        grid-template-columns: repeat(6,1fr);
        gap: 15px;
        margin-inline: auto;
        width: calc(100% - 70px);
    }
    .alert {
        min-width: 200px;
        width: fit-content;
        max-width: 400px;
        border-radius: 5px;
        height: 50px;
    }
    .loading {
        article {
            height: 140px;
            gap: 10px;
            div {
                width: 20px;
            }
        }
    }
}
@media only screen and (max-width: 480px)and (min-width:370px){
    .container {
        // grid-template-columns: repeat(6,49px);
        // width: 350px;
        grid-template-columns: repeat(6,1fr);
        gap: 15px;
        margin-inline: auto;
        width: calc(100% - 50px);
    }
    .alert {
        min-width: 150px;
        width: fit-content;
        max-width: 250px;
        border-radius: 10px;
        height: 40px;
    }
    .loading {
        article {
            height: 140px;
            gap: 10px;
            div {
                width: 20px;
            }
        }
    }
}
@media only screen and (max-width: 370px){
    .container {
        // grid-template-columns: repeat(6,38.3px);
        // width: 260px;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        margin-inline: auto;
        width: 100%;
    }
    .alert {
        min-width: 150px;
        width: fit-content;
        max-width: 250px;
        border-radius: 10px;
        height: 40px;
    }
    .loading {
        article {
            height: 120px;
            gap: 5px;
            div {
                width: 15px;
            }
        }
    }
}

