@import './colors';
.ideas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .shareIdea {
        width: 100%;
    }
    .createPost {
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 1%;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #0000002c;
        .image {
            background-color: #fff;
            border-radius: 50%;
        }
        .loggedOutIcon {
            background-color: $borders-gray;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input {
            border-radius: 8px;
            border: 1px solid $borders-gray;
        }
    }
    .explore {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .btn {
                padding: 10px 16px;
                border-radius: 8px;
                background-color: $BG-color;
                border: 1px solid $borders-gray;
                &.active,
                &:hover {
                    background-color: #fff;
                    border: 1px solid #1D2939;
                }
            }
        }
    }
    .post {
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #0000002c;
        .hashTags {
            position: absolute;
            display: flex;
            align-items: center;
            .hash {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #6941C6;
                background-color: #F9F5FF;
            }
            .hashCount {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F2F4F7;
            }
        }
        .more,
        .title {
            position: absolute;
            display: flex;
        }
        .text {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }
        .ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .seeMore {
            position: absolute;
            color: $primary-color;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .details {
            position: absolute;
            display: flex;
            gap: 5px;
            .span {
                display: flex;
                align-items: center;
            }
        }
        .arrow,
        .comments,
        .share {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            .icon {
                display: flex;
            }
        }
    }
}
.shareSection {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 900;
    transform: translateY(-100%);
    .overLay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0);
        backdrop-filter: blur(0.0rem);
        transition:background-color 0.7s , backdrop-filter 0.7s;
    }
    .shareBtns {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,-100%);
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 2px 2px 10px #000000e5;
        transition:top 0.6s,transform 0.6s;
        .shareH2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .icon {
                display: flex;
                cursor: pointer;
            }
        }
        .shareIconsHolder {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                height: 4px;
            }
            &::-webkit-scrollbar-track {
                background: #d0d5dd4e;
            }
            &::-webkit-scrollbar-thumb {
                background: $primary-color;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $secondary-color;
            }
        }
        .copy {
            border: 1px solid $borders-gray;
            border-radius: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .copyBtn {
                padding: 6px 14px;
                border-radius: 20px;
            }
        }
    }
    &.showen {
        transform: translateY(0%);
        .overLay {
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(0.12rem);
        }
        .shareBtns {
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
.rightSide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .interests {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #0000002c;
        display: flex;
        flex-direction: column;
        .h2 {
            text-transform: uppercase;
            width: 100% ;
            border-bottom: 1px solid $borders-gray;
        }
        .ul {
            display: flex;
            flex-direction: column;
            .li {
                width: 100% ;
                border-bottom: 1px solid $borders-gray;
            }
        }
    }
    .trending {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #0000002c;
        display: flex;
        flex-direction: column;
        .h2 {
            text-transform: uppercase;
            width: 100%;
            border-bottom: 1px solid $borders-gray;
        }
        .ul {
            display: flex;
            flex-direction: column;
            .li {
                position: relative;
                width: 100%;
                border-bottom: 1px solid $borders-gray;
                .image,
                .p,
                .span {
                    position: absolute;
                }
            }
        }
    }
}
@media only screen and (min-width:1200px){
    .ideas {
        grid-column: 1/9;
        gap: 20px;
        .shareIdea {
            height: 25px;
        }
        .createPost {
            .image {
                width: 50px;
            }
            .loggedOutIcon {
                height: 50px;
                width: 50px;
            }
            .input {
                width: 92%;
                height: 50px;
                padding: 0 20px;
            }
        }
        .explore {
            height: 60px;
            .filterBtn {
                display: none;
            }
            .ul {
                display: none;
            }
        }
        .post {
            width: 100%;
            padding: 120px 20px 140px 20px;
            .hashTags {
                top: 20px;
                left: 20px;
                gap: 10px;
                .hash {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
                .hashCount {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
            }
            .more {
                top: 20px;
                right: 20px;
            }
            .title {
                top: 60px;
                left: 20px;
            }
            .text {
                height: 120px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
            }
            .roles{
                margin-top: 10px;
            }
            .ul {
                width: calc(100% - 65px);
                margin-left: 20px;
                gap: 0px 20px;
                .li {
                    align-items: center;
                    gap: 40px;
                    .p {
                        max-width: 260px;
                    }
                    .span {
                        display: none;
                        width: 70px;
                    }
                    .join {
                        cursor: pointer;
                        color: $primary-color;
                        width: 80px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .seeMore {
                right: 20px;
                bottom: 80px;
            }
            .details {
                left: 20px;
                bottom: 80px;
            }
            .arrow,
            .comments,
            .share {
                gap: 2px;
                padding:  5px 10px;
            }
            .arrow {
                bottom: 20px;
                left: 10px;
            }
            .comments {
                bottom: 20px;
                left: 80px;
            }
            .share {
                bottom: 20px;
                right: 20px;
            }
            &.showen {
                .text {
                    height: fit-content;
                    display: block;
                }
                .ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0px;
                    .li {
                        display: flex;
                        .p {
                            min-width: 180px;
                        }
                        .span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .shareSection {
        .shareBtns {
            width: 540px;
            height: 320px;
            gap: 20px;
            padding: 20px;
        }
        .shareIconsHolder {
            height: 100px;
            gap: 20px;
            padding: 0 20px;
        }
        .copy {
            padding: 10px 20px;
        }
    }
    .rightSide {
        grid-column: 9/13;
        margin-top: 45px;
        gap: 30px;
        .interests {
            padding: 20px;
            .h2 {
                padding: 0px 0px 10px 0px;
            }
            .ul {
                .li {
                    padding: 15px 0px;
                }
            }
        }
        .trending {
            padding: 20px;
            .h2 {
                padding: 0px 0px 10px 0px;
            }
            .ul {
                .li {
                    height: 70px;
                    width: 100%;
                    .image {
                        top: 15px;
                        left: 0;
                    }
                    .p {
                        top: 15px;
                        left: 55px;
                    }
                    .span {
                        bottom: 15px;
                        left: 55px;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1200px) and (min-width:992px) {
    .ideas {
        grid-column: 1/9;
        gap: 20px;
        .shareIdea {
            height: 25px;
        }
        .createPost {
            .image {
                width: 40px;
            }
            .loggedOutIcon {
                width: 40px;
                height: 40px;
            }
            .input {
                width: 90%;
                height: 40px;
                padding: 0 15px;
            }
        }
        .explore {
            height: 40px;
            .filterBtn {
                display: none;
            }
            .ul {
                display: none;
            }
        }
        .post {
            width: 100%;
            padding: 100px 20px 150px 20px;
            .hashTags {
                top: 15px;
                left: 15px;
                gap: 10px;
                .hash {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
                .hashCount {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
            }
            .more {
                top: 15px;
                right: 15px;
            }
            .title {
                top: 50px;
                left: 15px;
            }
            .text {
                height: 190px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
            }
            .roles {
                margin-top: 10px;
            }
            .ul {
                width: calc(100% - 65px);
                margin-left: 20px;
                gap: 10px 20px;
                .li {
                    align-items: center;
                    gap: 40px;
                    .p {
                        max-width: 260px;
                    }
                    .span {
                        display: none;
                        width: 70px;
                    }
                    .join {
                        cursor: pointer;
                        color: $primary-color;
                        width: 80px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .seeMore {
                right: 15px;
                bottom: 70px;
            }
            .details {
                left: 15px;
                bottom: 70px;
            }
            .arrow,
            .comments,
            .share {
                gap: 2px;
                padding:  5px 10px;
            }
            .arrow {
                bottom: 15px;
                left: 10px;
            }
            .comments {
                bottom: 15px;
                left: 80px;
            }
            .share {
                bottom: 15px;
                right: 20px;
            }
            &.showen {
                .text {
                    height: fit-content;
                    display: block;
                }
                .ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0px;
                    .li {
                        display: flex;
                        .p {
                            min-width: 180px;
                        }
                        .span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .shareSection {
        .shareBtns {
            width: 540px;
            height: 320px;
            gap: 20px;
            padding: 20px;
        }
        .shareIconsHolder {
            height: 100px;
            gap: 20px;
            padding: 0 20px;
        }
        .copy {
            padding: 10px 20px;
        }
    }
    .rightSide {
        grid-column: 9/13;
        margin-top: 45px;
        gap: 30px;
        .interests {
            padding: 20px 8px;
            .h2 {
                padding: 0px 0px 5px 0px;
            }
            .ul {
                .li {
                    padding: 10px 0px;
                }
            }
        }
        .trending {
            padding: 20px 8px;
            .h2 {
                padding: 0px 0px 5px 0px;
            }
            .ul {
                .li {
                    height: 60px;
                    width: 100%;
                    .image {
                        top: 10px;
                        left: 0;
                    }
                    .p {
                        top: 10px;
                        left: 55px;
                    }
                    .span {
                        bottom: 10px;
                        left: 55px;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) and (min-width:768px){
    .ideas {
        grid-column: 1/13;
        gap: 20px;
        .shareIdea {
            height: 25px;
        }
        .createPost {
            .image {
                width: 40px;
            }
            .loggedOutIcon {
                width: 40px;
                height: 40px;
            }
            .input {
                width: 90%;
                height: 40px;
                padding: 0 15px;
            }
        }
        .explore {
            height: 40px;
            .filterBtn {
                display: none;
            }
            .ul {
                display: none;
            }
        }
        .post {
            width: 100%;
            padding: 90px 15px 140px;
            .hashTags {
                top: 15px;
                left: 15px;
                gap: 10px;
                .hash {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
                .hashCount {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
            }
            .more {
                top: 15px;
                right: 15px;
            }
            .title {
                top: 50px;
                left: 15px;
            }
            .text {
                top: 90px;
                left: 15px;
                height: 170px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
            }
            .roles {
                margin-top: 10px;
            }
            .ul {
                width: calc(100% - 65px);
                gap: 10px 20px;
                margin-left: 20px;
                .li {
                    gap: 20px;
                    .p {
                        max-width: 260px;
                    }
                    .span {
                        display: none;
                        width: 70px;
                    }
                    .join {
                        cursor: pointer;
                        color: $primary-color;
                        width: 80px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.showen {
                .text {
                    height: fit-content;
                    display: block;
                }
                .ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                    .li {
                        display: flex;
                        .p {
                            min-width: 180px;
                        }
                        .span {
                            display: block;
                        }
                    }
                }
            }
            .seeMore {
                right: 15px;
                bottom: 70px;
            }
            .details {
                left: 15px;
                bottom: 70px;
            }
            .arrow,
            .comments,
            .share {
                gap: 2px;
                padding:  5px 10px;
            }
            .arrow {
                bottom: 15px;
                left: 10px;
            }
            .comments {
                bottom: 15px;
                left: 80px;
            }
            .share {
                bottom: 15px;
                right: 20px;
            }
        }
    }
    .shareSection {
        .shareBtns {
            width: 540px;
            height: 320px;
            gap: 20px;
            padding: 20px;
        }
        .shareIconsHolder {
            height: 100px;
            gap: 20px;
            padding: 0 20px;
        }
        .copy {
            padding: 10px 20px;
        }
    }
    .rightSide {
        display: none;
    }
}
@media only screen and (max-width: 768px) and (min-width:480px){
    .ideas {
        grid-column: 1/7;
        gap: 20px;
        .shareIdea {
            height: 25px;
        }
        .createPost {
            .image {
                width: 40px;
            }
            .loggedOutIcon {
                width: 40px;
                height: 40px;
            }
            .input {
                width: 90%;
                height: 40px;
                padding: 0 15px;
            }
        }
        .explore {
            position: relative;
            height: 40px;
            .filterBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 40px;
                gap: 10px;
                .icon {
                    display: flex;
                }
            }
            .ul {
                position: absolute;
                z-index: 10;
                top: 40px;
                right: 0;
                background-color: #fff;
                width: 160px;
                border-radius: 8px;
                box-shadow: 0px 4px 10px #0000005e;
                display: none;
                &.showen {
                    display: block;
                }
                li {
                    padding: 6px 10px;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    .span {
                        display: none;
                    }
                    &.active {
                        background-color: #F9FAFB;
                        span {
                            display: flex;
                            color: $primary-color;
                        }
                    }
                    &:hover {
                        background-color: #F9FAFB;
                    }
                }
            }
            .btns {
                display: none;
            }
        }
        .post {
            width: 100%;
            padding: 100px 15px 120px 15px;
            .hashTags {
                top: 15px;
                left: 15px;
                gap: 10px;
                .hash {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
                .hashCount {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
            }
            .more {
                top: 15px;
                right: 15px;
            }
            .title {
                top: 50px;
                left: 15px;
            }
            .text {
                top: 90px;
                left: 15px;
                height: 170px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
            }
            .roles {
                margin-top: 15px;
            }
            .ul {
                width: calc(100% - 65px);
                margin-left: 15px;
                gap: 10px 20px;
                .li {
                    gap: 20px;
                    .p {
                        max-width: 260px;
                    }
                    .span {
                        display: none;
                        width: 70px;
                    }
                    .join {
                        cursor: pointer;
                        color: $primary-color;
                        width: 80px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.showen {
                .text {
                    height: fit-content;
                    display: block;
                }
                .ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                    .li {
                        display: flex;
                        .p {
                            min-width: 180px;
                        }
                        .span {
                            display: block;
                        }
                    }
                }
            }
            .seeMore {
                right: 15px;
                bottom: 60px;
            }
            .details {
                left: 15px;
                bottom: 60px;
            }
            .arrow,
            .comments,
            .share {
                gap: 2px;
                padding:  5px 10px;
            }
            .arrow {
                bottom: 15px;
                left: 10px;
            }
            .comments {
                bottom: 15px;
                left: 80px;
            }
            .share {
                bottom: 15px;
                right: 20px;
            }
        }
    }
    .shareSection {
        .shareBtns {
            width: 440px;
            height: 280px;
            gap: 20px;
            padding: 20px;
        }
        .shareIconsHolder {
            height: 100px;
            gap: 10px;
            padding: 0 10px;
        }
        .copy {
            padding: 10px 20px;
        }
    }
    .rightSide {
        display: none;
    }
}
@media only screen and (max-width: 480px)and (min-width:370px){
    .ideas {
        grid-column: 1/7;
        gap: 20px;
        .shareIdea {
            height: 25px;
        }
        .createPost {
            .image {
                width: 40px;
            }
            .loggedOutIcon {
                width: 40px;
                height: 40px;
            }
            .input {
                width: 90%;
                height: 40px;
                padding: 0 15px;
            }
        }
        .explore {
            height: 40px;
            .filterBtn {
                width: 100px;
                height: 40px;
                padding:  0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .icon {
                    display: flex;
                }
            }
            .ul {
                position: absolute;
                z-index: 10;
                top: 40px;
                right: 0;
                background-color: #fff;
                width: 160px;
                border-radius: 8px;
                box-shadow: 0px 4px 10px #0000005e;
                display: none;
                &.showen {
                    display: block;
                }
                li {
                    padding: 6px 10px;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    .span {
                        display: none;
                    }
                    &.active {
                        background-color: #F9FAFB;
                        span {
                            display: flex;
                            color: $primary-color;
                        }
                    }
                    &:hover {
                        background-color: #F9FAFB;
                    }
                }
            }
            .btns {
                display: none;
            }
        }
        .post {
            width: 100%;
            padding: 90px 15px 120px 15px;
            .hashTags {
                top: 15px;
                left: 15px;
                gap: 10px;
                .hash {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
                .hashCount {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
            }
            .more {
                top: 15px;
                right: 15px;
            }
            .title {
                top: 50px;
                left: 15px;
            }
            .text {
                top: 90px;
                left: 15px;
                height: 180px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 10;
            }
            .roles {
                margin-top: 15px;
            }
            .ul {
                width: calc(100% - 65px);
                margin-left: 15px;
                gap: 0 15px;
                .li {
                    gap: 10px;
                    .p {
                        max-width: 260px;
                    }
                    .span {
                        display: none;
                        width: 60px;
                    }
                    .join {
                        cursor: pointer;
                        color: $primary-color;
                        width: 60px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.showen {
                .text {
                    height: fit-content;
                    display: block;
                }
                .ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                    .li {
                        display: flex;
                        .p {
                            min-width: 140px;
                        }
                        .span {
                            display: block;
                        }
                    }
                }
            }
            .seeMore {
                right: 15px;
                bottom: 60px;
            }
            .details {
                left: 15px;
                bottom: 60px;
            }
            .arrow,
            .comments,
            .share {
                gap: 2px;
                padding:  5px 10px;
            }
            .arrow {
                bottom: 15px;
                left: 10px;
            }
            .comments {
                bottom: 15px;
                left: 80px;
            }
            .share {
                bottom: 15px;
                right: 20px;
            }
        }
    }
    .shareSection {
        .shareBtns {
            width: 340px;
            height: 240px;
            gap: 10px;
            padding: 10px;
        }
        .shareIconsHolder {
            height: 80px;
            gap: 10px;
            padding: 0 10px;
        }
        .copy {
            padding: 6px 10px;
        }
    }
    .rightSide {
        display: none;
    }
}
@media only screen and (max-width: 370px){
    .ideas {
        grid-column: 1/7;
        gap: 20px;
        .shareIdea {
            height: 25px;
        }
        .createPost {
            .image {
                width: 40px;
            }
            .loggedOutIcon {
                width: 40px;
                height: 40px;
            }
            .input {
                width: 90%;
                height: 40px;
                padding: 0 15px;
            }
        }
        .explore {
            height: 40px;
            .filterBtn {
                width: 90px;
                height: 40px;
                padding:  0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                .icon {
                    display: flex;
                }
            }
            .ul {
                position: absolute;
                z-index: 10;
                top: 40px;
                right: 0;
                background-color: #fff;
                width: 130px;
                border-radius: 8px;
                box-shadow: 0px 4px 10px #0000005e;
                display: none;
                &.showen {
                    display: block;
                }
                li {
                    padding: 6px 10px;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    .span {
                        display: none;
                    }
                    &.active {
                        background-color: #F9FAFB;
                        span {
                            display: flex;
                            color: $primary-color;
                        }
                    }
                    &:hover {
                        background-color: #F9FAFB;
                    }
                }
            }
            .btns {
                display: none;
            }
        }
        .post {
            width: 100%;
            padding: 90px 15px 120px 15px;
            .hashTags {
                top: 15px;
                left: 15px;
                gap: 10px;
                .hash {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
                .hashCount {
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 12.5px;
                }
            }
            .more {
                top: 15px;
                right: 15px;
            }
            .title {
                top: 50px;
                left: 15px;
            }
            .text {
                top: 90px;
                left: 15px;
                height: 180px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 10;
            }
            .roles {
                margin-top: 15px;
            }
            .ul {
                width: calc(100% - 65px);
                margin-left: 15px;
                gap: 0 15px;
                .li {
                    gap: 5px;
                    .p {
                        max-width: 260px;
                    }
                    .span {
                        display: none;
                        width: 50px;
                    }
                    .join {
                        cursor: pointer;
                        color: $primary-color;
                        width: 60px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.showen {
                .text {
                    height: fit-content;
                    display: block;
                }
                .ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                    .li {
                        display: flex;
                        .p {
                            min-width: 110px;
                        }
                        .span {
                            display: block;
                        }
                    }
                }
            }
            .seeMore {
                right: 15px;
                bottom: 60px;
            }
            .details {
                left: 15px;
                bottom: 60px;
            }
            .arrow,
            .comments,
            .share {
                gap: 2px;
                padding:  5px 10px;
            }
            .arrow {
                bottom: 15px;
                left: 10px;
            }
            .comments {
                bottom: 15px;
                left: 80px;
            }
            .share {
                bottom: 15px;
                right: 20px;
            }
        }
    }
    .shareSection {
        .shareBtns {
            width: 280px;
            height: 240px;
            gap: 5px;
            padding: 5px;
        }
        .shareIconsHolder {
            height: 80px;
            gap: 10px;
            padding: 0 10px;
        }
        .copy {
            padding: 6px 10px;
        }
    }
    .rightSide {
        display: none;
    }
}