@import './colors';
    .signUp {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .passwordHolder {
                position: relative;
                display: flex;
                flex-direction: column;
                .showPassword {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-50%,-45%);
                }
            }
            .formInput {
                border-radius: 8px;
                border: 1px solid $borders-gray;
            }
            .checkbox {
                position: relative;
                .agreement {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .remeberMeLabel {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .agreementLabel {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    .terms {
                        color: $secondary-color;
                        text-decoration: underline;
                    }
                }
                .resetPass {
                    position: absolute;
                    transform: translateY(-50%);
                    color: $secondary-color;
                }
            }
        }
        .newAccount {
            display: flex;
            justify-content: space-between;
        }
        .createAccount {
            text-decoration: underline;
            color: $secondary-color;
        }
    }

@media only screen and (min-width: 992px){
    .signUp {
        width: 50%;
        gap: 15px;
        .form {
            .formLabel {
                margin-top: 15px;
            }
            .formInput {
                width: 380px;
                padding: 10px 14px;
            }
            .passwordP {
                width: 380px;
            }
            .checkbox {
                margin-top: 15px;
                margin-bottom: 25px;
                width: 380px;
                height: 25px;
                .resetPass {
                    right: 0;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .signUpBtn {
                padding: 8px 12px;
                width: 160px;
            }
        }
    }
}
@media only screen and (max-width: 992px) and (min-width:768px){
    .signUp {
        width: 50%;
        gap: 15px;
        .form {
            .formLabel {
                margin-top: 20px;
            }
            .formInput {
                width: 340px;
                padding: 8px 12px;
            }
            .passwordP {
                width: 340px;
            }
            .checkbox {
                margin-top: 15px;
                margin-bottom: 25px;
                width: 340px;
                height: 25px;
                .resetPass {
                    right: 0;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .signUpBtn {
                padding: 8px 12px;
                width: 140px;
            }
        }
    }
}
@media only screen and (max-width: 768px) and (min-width:370px){
    .signUp {
        width: 100%;
        gap: 15px;
        .form {
            padding-top: 100px;
            .formLabel {
                margin-top: 15px;
            }
            .formInput {
                width: 325px;
                padding: 10px 8px;
            }
            .passwordP {
                width: 325px;
            }
            .checkbox {
                margin-top: 15px;
                margin-bottom: 25px;
                width: 325px;
                height: 25px;
                .resetPass {
                    right: 0;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .signUpBtn {
                padding: 6px 10px;
                width: 140px;
            }
        }
    }
}
@media only screen and (max-width: 370px){
    .signUp {
        width: 100%;
        gap: 15px;
        .form {
            padding-top: 60px;
            .formLabel {
                margin-top: 15px;
            }
            .formInput {
                width: 240px;
                padding: 8px 8px;
            }
            .passwordP {
                width: 240px;
            }
            .checkbox {
                margin-top: 15px;
                margin-bottom: 25px;
                width: 240px;
                height: 25px;
                .resetPass {
                    right: 0;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .signUpBtn {
                padding: 6px 10px;
                width: 140px;
            }
        }
    }
}